@import "../../styles/global.scss";

.button {
    width: 176px;
    background: linear-gradient(79.06deg, #2a5cf6 17.67%, #2a5cf6 17.68%, #7191f4 143.49%);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.08);
    border-radius: 60px;
    padding: 10px 24px 10px 16px;
    gap: 12px;
    border: none;
    transition: all .8s linear 0s;
  
    &:hover {
      background: linear-gradient(82.33deg, #9e0caa 0.26%, #242aff 47.35%, #23fbe1 111.53%);
      box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.08);
    }
  
    &__icon {
      padding-right: 14.5px;
    }
    &__text {
      color: #fff;
      font-family: "Rubik";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.1px;
    }
  }
  
